body {
  font-family: "Lato", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
  overflow-x: hidden;
  box-sizing: border-box;
  color: #4a4a4a;
  background-color: #ffffff;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #ffffff;
  border-bottom: 2px solid #eaeaea;
}

header .logo {
  font-size: 36px;
  color: #b3392f;
  font-weight: bold;
}

nav ul {
  display: flex;
  list-style: none;
  gap: 40px;
  font-size: 16px;
  color: #4a4a4a;
  text-transform: uppercase;
  letter-spacing: 1px;
}

nav ul li:hover {
  color: #f39c12b3;
}

.hero {
  display: flex;
  justify-content: center;
  width: 100%;
  background: url("images/rénovation.jpg") no-repeat center/cover;
  /*height: 700px;*/
  align-items: center;
  position: relative;
}

.hero .overlay {
  background: url("rénovation.jpg") no-repeat center/cover;
  color: #ffffff;
  /*text-align: center;*/
  padding: 80px 100px;
  width: 100%;
  backdrop-filter: brightness(
    0.5
  ); /* Assombrir légèrement l'image pour améliorer la lisibilité du texte */
}

.hero h1 {
  font-size: 60px;
  font-weight: 300;
  margin-top: 10px;
  line-height: 1.2;
}

.hero h2 {
  font-size: 30px;
  font-weight: 250;
}

.services,
.engagements,
.clients,
.projets {
  /* padding: 100px 200px;*/
  text-align: center;
  background-color: #fafafa;
}

.services {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  text-align: center;
  background-color: #fafafa;
}

.service-container
/*.engagement-container*/ {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 40px;
}

.service-container {
  display: grid; /* Utilisation de Grid pour une mise en page propre */
  grid-template-columns: repeat(2, 1fr); /* Deux colonnes égales */
  margin-top: 40px;
  width: 90%;
}

.services h2 {
  font-family: "Fair Display", serif;
  font-size: 2.6em;
  font-weight: 270;
  margin-bottom: 1%;
}

.separator {
  width: 30px; /* Largeur de la barre */
  height: 1px; /* Épaisseur de la barre */
  background-color: #f39c12; /* Couleur dorée */
  /* margin: 10px auto; /* Centré et avec un léger espacement */
}

.services p {
  font-size: 1em;
  font-weight: 200;
}

/*.service-card,*/
/*.engagement-card {
  background: #ffffff;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  width: 420px;
  text-align: center;
  transition: transform 0.3s;
}*/

.service-card {
  position: relative;
  background: #ffffff;
  padding: 0; /* Retirer les marges internes */
  box-shadow: none; /* Suppression de l'effet d'ombre */
  overflow: hidden; /* Évite que les images dépassent */
  cursor: pointer;
  transition: transform 0.3s ease-in-out;
}

.service-card img {
  width: 100%;
  height: auto; /* Conserve les proportions de l'image */
  object-fit: cover; /* Remplissage homogène de l'espace */
}

.service-card h3 {
  font-size: 18px;
  margin-top: 20px;
  text-transform: uppercase;
  color: #4a4a4a;
  font-weight: 300; /* Texte légèrement plus épais */
  position: relative;
}

.service-card h3::after {
  content: "";
  display: block;
  width: 50px; /* Longueur de la ligne décorative */
  height: 1px;
  background-color: #f39c12; /* Couleur dorée */
  margin: 10px auto 0; /* Centrage parfait de la ligne */
}

.service-card:hover {
  transform: scale(1.03); /* Légère mise en avant au survol */
}

.engagements {
  display: flex;
  background-color: #f8f8f8;
  /*padding: 80px 10%;*/
  padding: 7% 3%;
  text-align: left;
}

.engagement-header {
  text-align: left;
  max-width: 600px;
  margin-bottom: 40px;
}

.engagement-header h4 {
  text-transform: uppercase;
  color: #d1d1d1;
  font-weight: 600;
  margin-bottom: 10px;
}

.engagement-header h2 {
  font-size: 2.8rem;
  color: #4a4a4a;
  font-weight: 300;
  margin-bottom: 10px;
}

.engagement-header h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #f39c12;
  margin-top: 10px;
}

.engagement-header p {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.5;
  font-weight: 100;
  text-align: left;
  width: 80%;
}

.engagement-container {
  display: flex;
  gap: 50px;
  justify-content: space-between;
  text-align: left;
  align-items: stretch;
}

.engagement-card {
  background: none;
  text-align: center;
  flex: 1;
  height: 100%;
  align-items: stretch;
}

.engagement-card img {
  width: 60px;
  margin-bottom: 15px;
}

.engagement-card h3 {
  color: #f39c12;
  font-weight: 300;
  text-transform: uppercase;
  margin-bottom: 15px;
}

.engagement-card ul {
  list-style-type: none;
  padding: 0;
  font-weight: lighter;
  text-align: left;
}

.engagement-card ul li {
  color: #4a4a4a;
  font-size: 1rem;
  line-height: 1.8;
  position: relative;
  padding-left: 20px;
}

.engagement-card ul {
  flex-grow: 1; /* Force les listes à occuper l'espace restant pour équilibrer les hauteurs */
}

.engagement-card ul li::before {
  content: "•";
  color: #4a4a4a;
  position: absolute;
  left: 0;
}

.separator {
  width: 50px;
  height: 2px;
  background-color: #f39c12;
  margin-top: 10px;
}

.clients .testimonial {
  background: #ffffff;
  padding: 50px;
  border-radius: 15px;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.1);
  max-width: 700px;
  margin: 0 auto;
  font-style: italic;
  color: #4a4a4a;
}

.projets button {
  background-color: #b3392f;
  color: #ffffff;
  border: none;
  padding: 15px 40px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  transition: background 0.3s;
}

.projets button:hover {
  background-color: #8c2a25;
}

footer {
  background: #2f2f2f;
  color: #ffffff;
  padding: 60px 8%;
}

.footer-container {
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.footer-container div {
  max-width: 280px;
}

.footer-container h3 {
  color: #fbb03b;
  margin-bottom: 10px;
}
